<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="input.css">
</head>
<body>
    <section id="FormContainer">
        <fieldset class="">
            <legend>Formulaire utilisateur</legend>
            <form action="#" class="" method="post">
                <div>
                    <label>Nom: </label>
                    <input type="text" class="" required>
                </div>
                <div>
                    <label>Prenom: </label>
                    <input type="text" class="" placeholder="Prenom">
                </div>
                <div>
                    <label>Age: </label>
                    <input type="number" class=""  required>
                </div>
                <div class="">
                    <label>Genre: </label>
                </div>

            </form>
        </fieldset>
    </section>

</body>
</html>